
@media (max-width: 1750px) and (min-width: 1500px) {
    body {
      font-size: 13px;
    }
  }
  @media (max-width: 1500px) and (min-width: 1000px) {
    body {
      font-size: 10px;
    }
  }

  h2 {
    text-align:left;
    margin-left: 10vw;
  }